@{
    ViewData["Title"] = "Delete Movie";
}

@model MovieEntryModel

<!-- this page confirms the user would like to delete the selected movie entry -->

<h2>Confirm Deletion</h2>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieID" />
</form>
