@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>All you currently see is this man...follow the links to see his movie preferences</p>
</div>

<img src="~/img/joelhilton.jpg" height="400" />

<div>
    <a asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a>
    <a asp-controller="Home" asp-action="MovieEntry" >Movie Entry</a>
</div>

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
